* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

h2 {
    font-size: 2.5em;

}

#link {
    text-decoration: none;
    color: white;
}

h1 {
    font-size: 3.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.artist-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.artist-card {
    flex: 0 0 calc(33.33% - 20px);
    margin: 10px;
    padding: 20px;
    border: 1px solid #ccc;
    text-align: center;
    overflow: hidden;
    position: relative;
}

.artist-card .artist-image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 10px;
}

.artist-card .artist-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.artist-card .artist-info {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 10px;
}

.artist-card:hover .artist-info {
    display: block;
}